/* Código CSS */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
    --color-primario: #1b1b1b;
    --color-secundario: #a68adb;
    --color-enlace: #85b96c;
    --color-fondo: #f4f4f4;
    --color-hover: #f59e57;
    --color-borde: #fff06c;
    --color-boton: #fd86da;
    --color-boton-hover: #ff5ddc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#inicio img {
    width: 80%; /* Ajusta el tamaño al del contenedor */
    max-width: 800px; 
    height: auto; 
    display: block; /* Para centrar */
    margin: 0 auto; /* Centrado horizontal */
}

#inicio p {
    text-align: justify;
    width: 60%;
    margin: auto;
}

#quienes-somos p {
    text-align: justify;
    width: 60%;
    margin: auto;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: var(--color-fondo); /* valor de root */ 
    line-height: 1.8;
    max-width: 1200px;
    margin: 0 auto;
}

video {
    width: 900%;  
    max-width: 800px;
    height: auto;
    display: block;
    margin: auto;
}

.imagen-equipo {
    width: 100%; 
    max-width: 600px;
    height: auto;
    display: block;
    margin: auto;
}

h1, h2, h3 {
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

h1 {
    font-size: 3em;
    margin-bottom: 25px;
    text-transform: uppercase;
}

h2 {
    font-size: 2.4em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h3 {
    font-size: 2em;
    margin-bottom: 15px;
    font-weight: 400;
}

header {
    background: var(--color-primario); /* valor de root */ 
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin: 0 15px;
    transition: color 0.3s; /* aplicar animación con transition */
}

nav a:hover {
    color: var(--color-secundario); /* valor de root */ 
}

#inicio {
    text-align: center;
    padding: 100px 20px;
    background: white;
}

button {
    background: var(--color-primario); /* valor de root */
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background 0.3s ease; /*aplicar animación con transition */
}

button:hover {
    background: var(--color-secundario); /* valor de root */ 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#quienes-somos, #productos, #contacto {
    padding: 50px 20px;
    text-align: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

#productos img {
    width: 250px;  
    height: 250px; 
    object-fit: cover; /* ajustar la imagen dentro de un espacio sin distorsión */
    border-radius: 10px; 
    margin: 10px; 
}

.video-contacto {
    width: 100%; 
    height: auto; 
    max-width: 100%; /
    border-radius: 8px; 
    display: block; 
    margin: 0 auto; /* Centra el video en la página */
}

@media (max-width: 768px) {
    .video-contacto {
        width: 100%; /* Asegura que el video se ajuste bien en dispositivos pequeños */
        height: auto;
    }
}


.idioma-group {
    margin-bottom: 20px;
    text-align: left;
    display: flex; /*flexible */
    flex-direction: column;
    gap: 10px;
}

.idioma-group label {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--color-primario);
}

.idioma-group input, .idioma-group select {
    padding: 12px;
    font-size: 1em;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 100%;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.idioma-group input:focus, .idioma-group select:focus {
    border-color: var(--color-secundario);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    outline: none;
}

.idioma-group input::placeholder {
    color: #aaa;
}

.idioma-group select {
    cursor: pointer;
}

select option {
    padding: 10px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

form h5 {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--color-primario);
    margin-bottom: 20px;
}

.idioma-group input:hover, .idioma-group select:hover {
    border-color: var(--color-hover);
}

.idioma-group input:focus, .idioma-group select:focus {
    background-color: #fff;
    border-color: var(--color-secundario);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.5px; /* Espacio entre las celdas */
    text-align: center;
    margin: 5px 0;
}

 td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    height: 70px; /* Ajusta la altura de las celdas */
    width: 50%; /* Asegura que las celdas sean suficientemente anchas */
}

td {
    position: relative;
    overflow: hidden; /* Para que la imagen no se salga de la celda */
}

td img {
    width: 100%;  /* Ocupa todo el ancho de la celda */
    height: 100%; /* Ocupa todo el alto de la celda */
    object-fit: cover; /* Mantiene la imagen proporcional, sin deformarse */
    transition: transform 0.3s ease-in-out;
}

td img:hover {
    transform: scale(1.05); /* Efecto de zoom cuando pasas el ratón */
}

tbody tr {
    background-color: #ffffff;
    transition: background-color 0.3s;
}

tbody tr:hover {
    background-color: #f9f9f9; /* Efecto hover sobre filas */
}

/* Hacer la tabla responsiva */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    td img {
        max-width: 100%;
        height: auto;
    }
}


footer {
    background: var(--color-primario);
    color: white;
    text-align: center;
    padding: 50px 20px;
}

footer img {
    margin: 5px;
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 40px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid var(--color-borde);
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
}

input:focus, select:focus, textarea:focus {
    border-color: var(--color-secundario);
    outline: none;
}

input[name="sexo"] + label {
    font-weight: normal;
}

textarea {
    height: 150px;
}

form {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

form h5 {
    margin-bottom: 10px;
}

form p {
    margin-bottom: 20px;
}

button[type="submit"] {
    background: var(--color-boton);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background: var(--color-boton-hover);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
